<div id="left">
    <%= link_to "<< Back to overview", {:action => :index}, :class => 'context_menu_link' %>
    <h2><%= @currentthread ? @currentthread.title : 'Untitled Thread' %></h2>
    <div id="threadentry_userlist">
        Participants:
        <br>
		<% for participant in @participants %>
			<span class="thread_user"><%= participant.login %></span>&nbsp;
        <% end %>
    </div>
    <div id="threadentry_main">
        <%= render :partial => 'thread_entries', :object => @threadentries %>
    </div>
    <div>
        <div class="answer">
            <h3>Send an Answer:</h3>
            <p>
                <% form_remote_tag :url => { :action => "add_entry_to_thread" }, :html => {:id => 'new_thread_entry' } do %>
                <%= text_area(:newentry, :content, :cols => 30, :rows => 8, :class => "input_answer_threads") %>
                <%= hidden_field_tag(:thread_id, @currentthread.id) %>
                <br/>
                <%= submit_tag("Submit Answer") %>
                <% end %>
            </p>
        </div>
    </div>
</div>
<div id="right">
    &nbsp;
</div>
