<div id="left">
	<%= link_to "<< Back to overview", {:action => :index} %>
    <h2><%= @currentthread ? @currentthread.title : 'Untitled Thread' %></h2>
    <%= render :partial => 'thread_entries', :object => @threadentries %>
    <div>
    	
        <div class="answer">
        	<h3>Send an Answer:</h3>
            <p>
                <% form_remote_tag :url => { :action => "add_entry_to_thread" }, :html => {:id => 'new_thread_entry' } do %>
                <%= text_area(:newentry, :content, :cols => 30, :rows => 8, :class => "input_answer") %>
                <%= hidden_field_tag(:thread_id, @currentthread.id) %>
				<br/>
                <%= submit_tag("Submit Answer") %>
                <% end %>
            </p>
        </div>
    </div>
</div>
<div id="right">
    &nbsp;
</div>
