<div id="left">
	<h2>Posts</h2>
	
	<div id="poster">
		<div style="background: #cdcdcd; padding: 11px 7px 13px">
		<% form_for(@post, :url => { :action => "create" } ) do |f| %>
		  <%= f.error_messages %>
		    <%= f.label :content, "what are you doin?" %><br />
		    <%= f.text_area :content, :cols => 60, :rows => 3 %>
		    <%= f.submit 'Save' %>
		<% end %>
		
		</div>
	</div>
	
	<% @posts.each do |post| %>
	
	<% user_post = self.find_user_by_id(post.user_id) %>
	
	<div class="post">
		<div>
			<span><strong>User: <%=h user_post.login %></strong></span>&nbsp;-&nbsp;<%=h post.content %>
		</div>
		
		<div class="meta">
			<%=h post.created_at %> | 
			<!--><a href="#">hide</a> | -->
			<%#= link_to 'edit',edit_post_path(post) %>
			<%#= link_to 'del', post, :confirm => 'Are you sure?', :method => :delete %>
			<a href="/posts/<%= post.id %>/comments/new">new comment</a>
		</div>
		<div class="comments">
			<ul>
				<% post.post_comment.each do |comment| %>
				<li>
					<% comment = self.find_comment_by_id(comment.post_id) %>
					<% user_comment = self.find_user_by_id(comment.user_id) %>
					<p><strong><%= user_comment.login %></strong>&nbsp;<%= comment.content %></p>
					<p class="meta"><%= comment.date %></p>
				</li>
				<% end %>
			</ul>
			
		</div>	
	</div>
	
	<% end %>
	
</div>
<div id="right">
	right
</div>